:root{
	/*primary*/
    --Light-royal-blue: hsl(241, 81%, 54%);

    /*secundary*/
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsl(241, 72%, 46%);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(198, 28%, 91%);
    --Light-lavender: hsl(241, 100%, 89%);
}

	
*{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

.container{
	/*border: 1px dashed red;*/
	width: 80%;
	max-width: 1200px;
	height: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nav{
	width: 100%;
	height: 45px;
	background-color: var(--Dark-gray-blue);
	display: flex;
	align-items: center;
}

.nav__title{
	margin-left: 2%;
	font-size: 2rem;
}

.form{
	/*border: 1px dashed red;*/
	width: 360px;
	height: max-content;	
	margin-top: 20px;
}

.form__container{
	/*border: 1px dashed aqua;*/
	width: 100%;
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form__input{
	width: 260px;
	margin-bottom: 5px;
	padding-inline: 5px;
}

.form__btn{
	float: right;
	padding: 0 24px;	
	margin-top: 12px;
}   







