{% extends "base.html" %}
{% block content %}
<a href="{% url 'lista_ventas' %}">Volver a Lista de Ventas</a>
<h2>Detalles de la Venta</h2>

<p><strong>Cliente:</strong> {{ cliente_nombre }}</p>
<p><strong>Teléfono:</strong> {{ cliente_telefono }}</p>
<p><strong>Fecha:</strong> {{ fecha }}</p>
<p><strong>Total Venta:</strong> ${{ venta.total }}</p>

<h3>Productos</h3>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in detalles_venta %}
        <tr>
            <td>{{ item.detalle.producto.nombre }}</td>
            <td>{{ item.detalle.producto.categoria }}</td>
            <td>{{ item.detalle.cantidad }}</td>
            <td>${{ item.detalle.precio_unitario }}</td>
            <td>${{ item.total_producto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}