{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Lista de Ventas</h2>

<div style="margin-bottom: 15px;">
    <input type="text" id="filtro-ventas" placeholder="Buscar ventas...">
</div>
<table id="tabla-ventas">
    <thead>
        <tr>
            <th>Venta</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Teléfono</th>
            <th>Productos</th>
            <th>Total Venta</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>
                <a href="{% url 'detalles_venta' venta.id %}">
                    {{ venta.id }}
                </a>
            </td>
            <td>{{ venta.fecha|date:"d/m/Y H:i" }}</td>
            <td>{{ venta.cliente_nombre }}</td>
            <td>{{ venta.cliente_telefono }}</td>
            <td>
                {% for detalle in venta.detalleventa_set.all %}
                {{ detalle.producto.nombre }} x{{ detalle.cantidad }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>${{ venta.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="{% static 'js/lista_ventas.js' %}"></script>
{% endblock %}